---
layout: base
---
<div class="overlay">
  <div class="page-title">
    <h1>blog</h1>
  </div>
  <div>
    <div class="text">
      <p>
        Are you hilarious? Witty? Mildly interesting to be around? Want a great community of people to laugh and eat snacks with? If any of these apply to you, Blog is the place (board?) to be. We cover a variety of content, from <a href="https://www.thecrimson.com/flyby/how-to-harvard/">how-to guides</a> to <a href="https://www.thecrimson.com/flyby/article/2020/2/4/vibe-check-section/">vibe checks</a> to <a href="https://www.thecrimson.com/flyby/article/2018/2/24/angsty-harvard-things-by-rupi-kaur/">Rupi Kaur-inspired poetry</a>. Blog is one of the most well-read sections of The Crimson, and our posts have been picked up by multiple national and international news outlets.
      </p>
      <p>
        <strong><a href="https://www.thecrimson.com/section/flyby/">Flyby</a></strong> is the flagship blog of the Crimson and covers student life&mdash;we follow all things happening on campus, from <a href="https://www.thecrimson.com/topic/housing-market-2018/">Housing Day</a> to <a href="https://www.thecrimson.com/topic/guide-to-visitas-2019/">Visitas</a> (on campus or online!), and allow you to write about what most interests you!
      </p>
      <p>
        Whatever your interests (journalism, humor, or more), Blog will give you the space, training, and support to develop your own creative passions at 14p&mdash;just so long as it doesn&#39;t involve actual paper. But don&#39;t worry: we&#39;ll have gifs.
      </p>
        <h4 style="margin-bottom: 5px; text-decoration: underline;">Requirements</h4>

        Yay if you&#39;ve made it this far! Here&#39;s what you&#39;ll need to do during the comp process to join the Blog:
        <ul>
          <li>
            Write a total of 6 posts over the comp, including 1 from each of the following categories:
            <ul>
              <li>Investigative</li>
              <li>Interview (including our video series <a href="https://www.thecrimson.com/flyby/roving-reporter/">Roving Reporter</a>)</li>
              <li>Collaborative</li>
          </li>
        </ul>
      </p>
      <p>
        If writing six pieces sounds intimidating, don&#39;t worry! If you&#39;re looking for a cut-throat comp experience, you&#39;re in the wrong place. We (Rachel + Peyton) are super psyched to work with all our of compers on developing their pieces, from the I-have-vague-idea-of-joke-I-want-to-make-into-a-piece stage to the finishing touches!
      </p>
      <p>
        Compers and comp directors will also meet every week at 3 p.m. on Sundays usually in the Sanctum (ooh, fancy) of the Crimson &mdash; and yes, there are Trader Joe&#39;s snacks at every meeting.
      </p>
      <p>
        Once you join the Blog, we have full-board meetings at 1 p.m. on Sundays in the Sanctum of the Crimson&#39;s building.
      </p>
      <p>
        Lastly, if you&#39;re looking for a real ~family~ on campus, look no further. Ask anyone in Flyby (or in The Crimson, for that matter!) and they&#39;ll tell you how amazing our Flyfam is, with socials ranging from cute get-togethers with board-games to end-of-semester dinners at Border Cafe.
      </p>
      <p>
        Any questions? Want more information? Don&rsquo;t hesitate to contact our Blog Comp Directors, {% include comp_director.html director=site.blog.dir1 %} and {% include comp_director.html director=site.blog.dir2 %}, with any and all questions and concerns. Hope to see you in the fall!
      </p>
    </div>
  </div>
</div>
