---
layout: base
---
<div class="overlay">
  <div class="page-title">
    <h1>blog</h1>
  </div>
  <div>
    <div class="text">
      <p>
        Are you hilarious? Witty? Mildly interesting to be around? Want a great community of people to laugh and eat snacks with? If any of this applies to you, Blog is the place to be. <strong>We cover a variety of content, from <a href="https://www.thecrimson.com/flyby/how-to-harvard/">how-to guides</a> to <a href="https://www.thecrimson.com/flyby/article/2020/2/4/vibe-check-section/">vibe checks</a> to exclusive interviews with famous alumni like pastry chef <a href="https://www.thecrimson.com/flyby/article/2021/3/18/claire-saffitz-flyby-interview/">Claire Saffitz</a> and Bridgerton author <a href="https://www.thecrimson.com/flyby/article/2021/2/16/julia-quinn-interview/">Julia Quinn</a>.</strong>
      </p>
      <p> 
        <strong><a href="https://www.thecrimson.com/section/flyby/">Flyby</a></strong> is the flagship blog of the Crimson and covers student life&mdash;we follow all things happening on campus, from <a href="https://www.thecrimson.com/topic/housing-market-2018/">Housing Day</a> to <a href="https://www.thecrimson.com/topic/guide-to-visitas-2019/">Visitas</a> (on campus or online!), and allow you to write about what most interests you! <strong>Blog is one of the most well-read sections of The Crimson — our posts have been picked up by multiple national news outlets and our <a href="https://www.youtube.com/watch?v=r0fdYhgJIeE">video content</a> has millions of views on YouTube.</strong>
      </p>
      <p>
        Whatever your interests (journalism, humor, or more), Blog will give you the space, training, and support to develop your own creative passions at 14p&mdash;just so long as it doesn&#39;t involve actual paper. But don&#39;t worry: we&#39;ll have gifs.
      </p>
        <h4 style="margin-bottom: 5px; text-decoration: underline;">Requirements</h4>

        Yay if you&#39;ve made it this far! Here&#39;s what you&#39;ll need to do during the comp process to join the Blog:
        <ul>
          <li>
            Write a total of 6 posts over the comp, including 1 from each of the following categories:
            <ul>
              <li>Interview (including our video series <a href="https://www.thecrimson.com/flyby/roving-reporter/">Roving Reporter</a>)</li>
              <li>Collaborative</li>
          </li>
        </ul>
      </p>
      <p>
        If writing six pieces sounds intimidating, don&#39;t worry! If you&#39;re looking for a cut-throat comp experience, you&#39;re in the wrong place. We (Janani + Ellen) are super psyched to work with all our of compers on developing their pieces, from the I-have-vague-idea-of-joke-I-want-to-make-into-a-piece stage to the finishing touches!
      </p>
      <p>
        Compers and comp directors will also meet every week at 3 p.m. on Sundays usually in the Sanctum (ooh, fancy) of the Crimson &mdash; and yes, there are Trader Joe&#39;s snacks at every meeting.
      </p>
      <p>
        Lastly, if you&#39;re looking for a real ~family~ on campus, look no further. Ask anyone in Flyby (or in The Crimson, for that matter!) and they&#39;ll tell you how amazing our Flyfam is, with socials ranging from cute get-togethers with board-games to end-of-semester in Harvard Square.
      </p>
      <p>
        While we're online, you can catch us chatting at all hours of the day, trying TikTok trends, and talking about everything that happened to us that week. You'll always find someone on Flyby ready to listen to your latest rant (and even encourage you to write a piece about it!)
      </p>
      <p>
        Any questions? Want more information? Don&rsquo;t hesitate to contact our Blog Comp Directors, {% include comp_director.html director=site.blog.dir1 %} and {% include comp_director.html director=site.blog.dir2 %}, with any and all questions and concerns. Hope to see you in the fall!
      </p>
    </div>
  </div>
</div>
