---
layout: base
---
<div class="overlay">
  <div class="page-title">
    <h1>business</h1>
  </div>
  <div>
    <div class="text">
      <p>
        <b>The Crimson Business Board</b> raises revenue to support the annual operations of Harvard&rsquo;s only daily publication and the oldest continuously published daily collegiate publication. <b>The Crimson Business Board is the best way to gain real, valuable business experience as a student at Harvard.</b> Our team is a lean and agile one, which allows every member of our team to solve <b>complex business problems and make an impact on the growth of our business,</b> all while working alongside some of the most genuine, passionate, and motivated people that you will meet. 
      </p>
      <p>
        Our business segments lie in: advertising, marketing services, educational programs, subscriptions, and contract printing, which allows us to work with a range of clients and partners, both domestically and abroad. 
      </p>
      <p>
        Unsurprisingly, the <b>Business Board&rsquo;s alumni</b> include a variety of significant global leaders around the world in business and politics: 
      </p>
      <p>
        Steve Ballmer - Former CEO, Microsoft<br>
        Liz Hilton Segel - Managing Partner, McKinsey and Co., North America<br>
        Andy Jassy - CEO, Amazon Web Services<br>
        Magdalena Kala, VP, Bain Capital<br>
        John F. Kennedy - President of the United States<br>
      </p>
      <p>
        Do not hesitate to reach out to Directors of Staff Development {% include comp_director.html director=site.business.dir1 %} and {% include comp_director.html director=site.business.dir2 %} with any questions. We look forward to meeting you at the first week of events in the Fall! 
      </p>
    </div>
  </div>
</div>
