---
layout: base
---
<div class="overlay">
  <div class="page-title">
    <h1>design</h1>
  </div>
  <div>
    <div class="text">
      <p>
        Want to make beautiful cover pages for any of our publications, create stunning illustrations, or learn how to design a website from scratch? Comp Design.
      </p>
      <p>
        The Design comp is all about learning by doing. Whether you've had any previous design experience or not, you'll learn everything you need to know during the comp process. The Design Comp teaches some of the most marketable skills around:
        <ul>
          <li>Fluency in the Adobe Creative Suite</li>
          <ul>
            <li>Layout with Adobe InDesign</li>
            <li>Photo manipulation with Adobe Photoshop</li>
            <li>Graphic creation with Adobe Illustrator</li>
          </ul>
          <li>UI/UX web design best practices and website mockups in Figma</li>
          <li>Digital illustration, watercolor, marker, and pen</li>
        </ul>
      </p>
      <p>
        We are The Crimson&#39;s only board to offer three separate tracks to its comp: print, web, and illustration. Regardless of your interest, the Design board has a place for you.
      </p>
      <p>
        The <strong>Print Design</strong> comp will teach you the essential skills you need to create an eye-catching front page or a gorgeous magazine spread using the Adobe Suite (InDesign, Photoshop, Illustrator). After the comp, you&#39;ll be responsible for developing the visual identity for our newspaper and magazine. We lay out and design graphics for the front and feature pages of the daily paper, the Arts supplement, and the FM magazine. 
      </p>
      <p>
        <strong>Web Design</strong> collaborates closely with the Tech board to ensure that The Crimson&#39;s website  &mdash; which receives over 15 million pageviews per year &mdash; is user-friendly and aesthetically pleasing for our online readers. Web designers work extensively with the design software Figma, while also constantly trying to improve all users&#39; experiences on thecrimson.com. By developing skills ranging from hand-drawn sketches to wire framing to unveiling a final product, Web Design compers will become very familiar with the process behind designing a website from scratch.
      </p>
      <p>
        <strong>Illustration</strong> gives a voice to some of The Crimson&#39;s most relevant, impactful writing through visual storytelling. Illustrators learn a range of skills and techniques to create original artwork, including digital illustration, watercolor, marker, and pen. They exercise a lot of flexibility, whether they&#39;re creating standalone cartoons or working hand-in-hand with Editorial, Arts, and FM.
      </p>
      <p>
        All three tracks involve weekly meetings, training sessions with design editors, exercises, and social events within the Design Board and The Harvard Crimson. Compers will complete both exercises and projects that allow them to showcase their new design skills and knowledge, as well as real published designs with the guidance of editors.
      </p>
      <p>
        The Design Comp is focused on you and on developing a great relationship between you and the editors on the board. You will not only gain practical skills, but also an immediate social and professional network.
      </p>
      <p>
        If you have any questions about the comp process, feel free to reach out to our comp directors
      </p>
      <p>
        For specific questions about the Print Design track, contact Comp Director {% include comp_director.html director=site.design.print.dir1 %}.
      </p>
      <p>
        For specific questions about the Web Design track, contact Comp Director {% include comp_director.html director=site.design.web.dir1 %}.
      </p>
      <p>
        For specific questions about the Illustration track, contact Comp Director {% include comp_director.html director=site.design.illustration.dir1 %}.
      </p>
    </div>
  </div>
</div>
