---
layout: base
---
<div class="overlay">
  <div class="page-title">
    <h1>editorial</h1>
  </div>
  <div>
    <div class="text">
      <p>
        Since 1911, the Editorial Board has brought students together to express their opinions <b>independently</b> and as the official <b>editorial voice</b> of The Crimson. In recent years, we&#39;ve won numerous awards, been quoted by the New York Times, the Atlantic, and others as a benchmark of Harvard student opinion, and been cited in pivotal University decisions.
      </p>
      <p>
        Our staff editorial process represents one of the few opportunities on campus in which a diverse group of students come together to respectfully debate, pitch, and craft a shared message on <a href="https://www.thecrimson.com/article/2021/2/25/cambridge-psychedelic-decriminalization/">local</a>, <a href="https://www.thecrimson.com/article/2020/3/25/editorial-necessity-of-universal-pass-fail/">campus</a>, and sometimes <a href="https://www.thecrimson.com/article/2021/1/9/capitol-insurrection/">national</a> issues with care, respect, and detail (and even <a href="https://www.thecrimson.com/article/2019/9/18/editorial-shopping-week-blues/">humor</a>).
      </p>
      <p>
        Every day our page presents not only our own voices but those of our peers, professors, and alumni from across the University, who take advantage of our broad readership and ideological openness to make cases for educational and University policy; tell big stories from new perspectives; and hash out differences in opinion.
      </p>
      <p>
        Comp for the chance to have your opinions published, to improve your argumentative writing and speech, and for a lively and sharp-witted group of friends. No previous journalistic experience is required, but curiosity and hot takes are a must!
      </p>
      <p>
        Don&#39;t hesitate to contact our Editorial Comp Directors, {% include comp_director.html director=site.editorial.dir1 %} or {% include comp_director.html director=site.editorial.dir2 %} with any questions.
      </p>
    </div>
  </div>
</div>
