#splash {
    display: none;
	background: #8B0000;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.opening {
	display: none;
	margin: 100px 0 0;
	color: white;
    font-family: 'Big Caslon', Georgia, serif;
	font-size: 90px;
    line-height: 90px;
	text-align: center;
}

#logo {
    width: 300px;
}

.cute {
	display: none;
	color: #FFF;
	position: relative;
	text-align: center;
	margin-right: 5%;
	text-decoration: italic;
	font-family: 'Colaborate Thin';
}

#msg {
	color: #FFF;
	margin-left: 10px;
	position: absolute;
	bottom: 10px;
	cursor: pointer;
}
