---
layout: base
---
<div class="overlay">
  <div class="page-title">
    <h1>sports</h1>
  </div>
  <div>
    <div class="text">
      <p>
        Harvard has more varsity sports than any other school in the country, and somebody&#39;s got to cover them. That&#39;s our job. In addition to contributing to daily sports pages Monday through Friday, Crimson sportswriters can expect to collaborate with the paper&#39;s news, magazine, and multimedia boards to produce award-winning content. You will meet players and coaches, and interview esteemed pro alums such as Jeremy Lin &#39;09 and Ryan Fitzpatrick &#39;05. You will go on exciting road trips, on us. Perhaps most importantly, you will enjoy a front row seat to some of Harvard&#39;s greatest events, including heated Ivy match-ups, NCAA playoffs, and, of course, college football&#39;s oldest continuing rivalry: The Game.
      </p>
      <p>
        After breezing through your comp, you will be familiar with writing a broad range of stories, including live game coverage, features, previews, and blog posts. You will learn the tools of the trade at comp seminars, and then you will get to pick up stories at the weekly Sports Board meeting on Sundays at 2 p.m. In addition, upon your election you will earn a catchy column name voted on by your peers, which you can use to sound off on any topic of your choosing. Newly elected editors will also have the opportunity to pick up a beat, allowing them to consistently cover their favorite teams.
      </p>
      <p>
        Joining the Sports Board puts you in the company of many accomplished alumni, including writers for publications such as Sports Illustrated and the New York Post, as well as many positions outside the sports realm. You will follow in the footsteps of award winning student journalists and carry on the tradition of producing some of the best college sports writing in the country. In the past three years alone, Crimson sportswriters have won back-to-back-to-back Sports Story of the Year honors from the Associated College Press, as well as numerous awards from the Society of Professional Journalists.
      </p>
      <p>
        Any questions? Please don&rsquo;t hesitate to contact our Comp Directors, {% include comp_director.html director=site.sports.dir1 %} and {% include comp_director.html director=site.sports.dir2 %}.
      </p>
    </div>
  </div>
</div>
