---
layout: base
---
<div class="overlay">
  <div class="page-title">
    <h1>sports</h1>
  </div>
  <div>
    <div class="text">
      <p>
        Harvard has more varsity sports than any other school in the country, and somebody&#39;s got to cover them. That&#39;s our job. In addition to contributing to daily sports pages Monday through Friday, Crimson sportswriters can expect to collaborate with the paper&#39;s news, magazine, and multimedia boards to produce award-winning content. You will meet players and coaches, and interview esteemed pro alums such as Jeremy Lin &#39;09 and Ryan Fitzpatrick &#39;05. You will go on exciting road trips, on us.
      </p>
      <p>
        Whether you want to traverse the east coast covering Harvard athletics anywhere they go or write on a more occasional basis about the stories of Harvard’s student athletes, Crimson Sports has a spot for you. And whether you're coming into Harvard as a seasoned journalist or someone who’s never opened the sports section of a newspaper before, the comp will be fun, informative, and welcoming.
      </p>
      <p>
        As a Crimson Sports writer, you will become familiar with how to write a broad range of stories, including live game coverage, features, previews, and blog posts. In our comp, we’ll teach you the basics of how to write game stories, and you will author features about topics related to Harvard athletes. After you join the board, you will have the opportunity to pick up a beat, allowing them to consistently cover your favorite teams.
      </p>
      <p>
        Joining the Sports Board puts you in the company of many accomplished alumni, including writers for publications such as Sports Illustrated and the New York Post, as well as many positions outside the sports realm. You will follow in the footsteps of award winning student journalists and carry on the tradition of producing some of the best college sports writing in the country. In the past three years alone, Crimson sportswriters have won back-to-back-to-back Sports Story of the Year honors from the Associated College Press, as well as numerous awards from the Society of Professional Journalists.
      </p>
      <p>
        Any questions? Please don&rsquo;t hesitate to contact our Comp Directors, {% include comp_director.html director=site.sports.dir1 %} and {% include comp_director.html director=site.sports.dir2 %}.
      </p>
    </div>
  </div>
</div>
