body {
	background: url("images/crimson.jpg") center top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	font: 0.9em/1.3em Georgia, serif;
	-webkit-text-size-adjust: 100%;
	min-width: 320px;
	line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Crimson', Georgia, serif;
	font-weight: normal;
	line-height: 0.95em;
	margin: 0;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.15em;
}
a {
	color: #ba0600;
	text-decoration: none;
}
a:hover, a:active {
	color: #870300;
	text-decoration: underline;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
a img {
	border: 0;
}

/*
Header
*/
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}
header h1 {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	font-size: 41px;
}
header h1 a {
	font-family: Big Caslon;
	color: white;
}
header h1 a:hover, header h1 a:active, header h1 a:visited {
	text-decoration: none;
	color: white;
}

/*
Header
*/
header {
	text-align: center;
}
header h1 {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	font-size: 41px;
}
header h1 a {
	font-family: Big Caslon;
	color: white;
}
header h1 a:hover, header h1 a:active, header h1 a:visited {
	text-decoration: none;
	color: white;
}

#masthead {
	zoom: 1;
	margin: 0 auto;
	position: relative;
}
#masthead:before, #masthead:after {
	content: "";
	display: table;
}
#masthead:after {
	clear: both;
}
#masthead-first {
	padding: 15px 0;
	text-align: center;
	position: relative;
	background: rgba(167, 5, 0, 0.9) url('images/header-logo.png') no-repeat -75px -75px;
	background-size: 500px;
}
#masthead-first-wrapper {
	overflow: hidden;
}
#masthead-first-container {
	max-width: 980px;
	margin: 0 auto;
	position: relative;
}

/*
Nav
*/
#masthead-nav ul, #masthead-nav-mobile ul {
	padding: 0;
	margin: 0;
	zoom: 1;
}
#masthead-nav ul:before, #masthead-nav ul:after {
	content: "";
	display: table;
}
#masthead-nav ul:after {
	clear: both;
}
#masthead-nav ul li, #masthead-nav-mobile ul li {
	list-style: none;
	display: inline;
}
#masthead-nav ul li a {
	border-right: 1px #ccc solid;
}
#masthead-nav ul li a:last-child {
	border: none;
}
#masthead-nav ul li a, #masthead-nav-mobile ul li a {
	text-transform: uppercase;
	font: 1.07em 'Colaborate Light', 'Lucida Sans Unicode', sans-serif;
	color: #ba0600;
	display: inline-block;
	padding: 10px 12px;
	background-color: transparent;
}
#masthead-nav ul li a:hover, #masthead-nav ul li a:active, #masthead-nav ul li a.active {
	color: #ba0600;
	background-color: #ccc;
	text-decoration: none;
	-moz-transition: background-color 0.3s, color 0.3s;
	-o-transition: background-color 0.3s, color 0.3s;
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
}
#masthead-nav-mobile ul li a:hover {
	text-decoration: none;
}
#masthead-nav, #masthead-nav-mobile {
	-moz-box-shadow: 0 0 0 #fff;
	-o-box-shadow: 0 0 0 #fff; 
	-webkit-box-shadow: 0 0 0 #fff;
	box-shadow: 0 0 0 #fff;
	background-color: rgba(244, 244, 244, 0.9);
}



.no-highlight {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.page-title {
	text-align: center;
	text-shadow: 2px 2px 2px #ba0600;
	color: #FFF;
	margin-top: 20px;
	margin-left: -2%;
	margin-right: -2%;
	margin-bottom: 20px;
	width: 104%;
	float: left;
	background-color: rgba(186,6,0,1);
}

.page-title h1 {
	font-weight: normal;
	font-family: 'Georgia', serif;
	font-size: 2em;
	margin: 0;
}

.text {
	padding: 40px;
}

.overlay {
	background-color: rgba(255, 255, 255, 0.9);
	margin: 200px auto;
	padding: 0;
	width: 50%;
	font-family: 'Colaborate Thin';
	font-size: 1.5em;
}

@media(max-width: 480px) {
	.page-title h1 {
		font-size: 2.1em;
	}
	#masthead-first h1 {
        font-size: 30px;
    }
	#masthead-nav {
		position: relative;
		background-color: rgba(234, 234, 234, 0.95);
		z-index: 1;
	}
	#masthead-nav-mobile {
		position: relative;
		background-color: rgba(244, 244, 244, 0.95);
		z-index: 2;
	}
	#masthead-nav.mobile-hidden {
		display: none;
	}
	#masthead-nav ul li {
		width: 50%;
		float: left;
	}
	#masthead-nav ul li, #masthead-nav ul li a {
		display: block;
	}
	#masthead-nav-mobile ul li a {
		padding: 8px 0;
		width: 100%;
	}
}

@media (min-width: 481px) {
	/* Masthead */
	#masthead-first {
		width: 100%;
	}
	#masthead-nav {
		text-align: center;
		clear: both;
		overflow: hidden;
	}
	#masthead-nav-mobile {
		display: none;
	}
}

@media (max-width: 900px) {
	.overlay {
		margin:	200px auto 0 auto;
		width: 95%;
		float: none;
	}
}
