---
layout: base
---
<div class="overlay">
    <div class="page-title">
        <h1>technology</h1>
    </div>
    <div>
        <div class="text">
            <p>
                <a href="https://www.thecrimson.com/">The Crimson</a> gets {{ site.yearly_page_views_millions }} million pageviews every year. That is a lot of views, and we use some cutting edge technology to make it happen. As an associate, you will learn about our React front-end, Django back-end, database work, and much, much more. If it&rsquo;s web-related, we probably use it. The Crimson codebase is <b>200K lines strong</b> (no, we are not hardcoding each page). Our alumni has worked from big Techs (e.g. Google, FB, Amazon), rising startups (e.g. Nuro, Airtable), consulting firms (e.g. Bain, BCG) and hedge funds (D.E. Shaw, Jane Street). We have some crazy cool people.
            </p>
            <p>
                Recently, the tech board has:
            </p>
            <ul>
                <li>Redesigned our frontend, bringing you <a href="https://www.thecrimson.com/topic/guide-to-virtual-visitas/">beautiful new templates</a>.</li>
                <li>Gathered GBs of data for data journalism, such as our <a href="https://www.thecrimson.com/article/2021/3/10/inside-conservative-campus-reopening/">COVID-19 issue</a>.</li>
                <li>Made some fabulous projects and games. (What's HUDSMash? The Grand Tournament? Come to find out!)</li>
                <li>Automated the sending of the daily newsletter to speed up workflow</li>
                <li>Built the exact page you are on right now.</li>
            </ul>
            <p>
                The Tech Comp is designed to accommodate programmers with <b>all</b> levels of experience. Many have joined the board before even finishing CS50! We tailor the comp to the individual and make sure everyone learns the tools they need without repeating things people have already seen.
            </p>
            <p>
                If you have any questions or special circumstances you want to discuss, contact Directors of Technical Development {% include comp_director.html director=site.technology.dir1 %} and {% include comp_director.html director=site.technology.dir2 %}.
            </p>
        </div>
    </div>
</div>
