<nav id="masthead-nav-mobile">
  <ul>
    <li><a href="#">Navigation</a></li>
  </ul>
</nav>
<nav id="masthead-nav" class="mobile-hidden">
  <ul>
    {% assign nav = site.nav | sort: 'text' %}
    {% for board in nav %}
      <li>
        <a {% if page.url == board.url %} class='active' {% endif %} href='{{ board.url }}'>
          {{ board.text }}
        </a>
      </li>
    {% endfor %}
    <li>
      <a target="_blank" href="{{ site.google_doc_signup }}">Questions? <img class="external" src="/images/external.png" alt="Crimson Logo"></a>
    </li>
  </ul>
</nav>