<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="/css/style.css" rel="stylesheet" type="text/css"/>
  <link href="/css/fonts.css" rel="stylesheet" type="text/css"/>
  <link href="/css/homepage.css" rel="stylesheet" type="text/css" />
  <link href="http://static.thecrimson.com/images/favicon.ico" rel="icon" type="image/x-icon" />
  <title>The Harvard Crimson | Comp</title>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/animation.js"></script>
</head>
<body>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33870617-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga=document.createElement('script'); ga.type='text/javascript'; ga.async=true;
      ga.src=('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s=document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <div id="splash">
    <div class="opening">
      <img id="logo" src="/images/logo.svg" alt="Crimson logo">
      <div>The Harvard Crimson</div>
    </div>
    <div class="cute"><em>{{ site.subtitle }}</em></div>
    <span id="msg">Click or press any key to continue</span>
  </div>
  <header>
    <div id="masthead">
      <div id="masthead-first-wrapper">
        <div id="masthead-first">
          <div id="masthead-first-container">
            <h1><a href="/">The Harvard Crimson</a></h1>
            <div id="masthead-subtitle">{{ site.subtitle }}</div>
          </div>
        </div>
      </div>
      <div id="masthead-second">
        <nav id="masthead-nav-mobile">
          <ul>
            <li><a href="#">Navigation</a></li>
          </ul>
        </nav>
        <nav id="masthead-nav" class="mobile-hidden">
          <ul>
            <li>
              {% if page.url ==  "/" %}
                <a class="active" href="/">About Us</a>
              {% else %}
                <a href="/">About Us</a>
              {% endif %}
            </li>
            <li>
              {% if page.url ==  "/arts/" %}
                <a class="active" href="/arts/">Arts</a>
              {% else %}
                <a href="/arts/">Arts</a>
              {% endif %}
            </li>
            <li>
              {% if page.url ==  "/blog/" %}
                <a class="active" href="/blog/">Blog</a>
              {% else %}
                <a href="/blog/">Blog</a>
              {% endif %}
            </li>
            <li>
              {% if page.url ==  "/biz/" %}
                <a class="active" href="/biz/">Business</a>
              {% else %}
                <a href="/business/">Business</a>
              {% endif %}
            </li>
            <li>
              {% if page.url ==  "/design/" %}
                <a class="active" href="/design/">Design</a>
              {% else %}
                <a href="/design/">Design</a>
              {% endif %}
            </li>
            <li>
              {% if page.url ==  "/ed/" %}
                <a class="active" href="/ed/">Editorial</a>
              {% else %}
                <a href="/editorial/">Editorial</a>
              {% endif %}
            </li>
            <li>
              {% if page.url ==  "/mag/" %}
                <a class="active" href="/mag/">Magazine</a>
              {% else %}
                <a href="/magazine/">Magazine</a>
              {% endif %}
            </li>
            <li>
              {% if page.url ==  "/news/" %}
                <a class="active" href="/news/">News</a>
              {% else %}
                <a href="/news/">News</a>
              {% endif %}
            </li>
            <li>
              {% if page.url ==  "/multimedia/" %}
                <a class="active" href="/multimedia/">Multimedia</a>
              {% else %}
                <a href="/multimedia/">Multimedia</a>
              {% endif %}
            </li>
            <li>
              {% if page.url ==  "/sports/" %}
                <a class="active" href="/sports/">Sports</a>
              {% else %}
                <a href="/sports/">Sports</a>
              {% endif %}
            </li>
            <li>
              {% if page.url ==  "/tech/" %}
                <a class="active" href="/tech/">Tech</a>
              {% else %}
                <a href="/tech/">Tech</a>
              {% endif %}
            </li>
            <li>
              <a target="_blank" href="{{ comp.google_doc_signup }}">Sign Up <img class="external" src="/images/external.png" alt="Crimson Logo"></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  {{ content }}
</body>
</html>
